body{
    background-color: rgb(73, 71, 71);
    margin: 0;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    background-color: rgb(63, 77, 155);
    padding: 3%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.include{
    background-color: rgba(255, 255, 255, 0.199);
    padding: 8px;
    margin: 5px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.title{
    margin: 0;
    text-align: center;
}
label{
    font-weight: bold;
}

.rng-num{
    display: flex;
    align-items: center;
}

.numInp{
    width: 40px;
}

.passDisplay{
    background-color: rgba(255, 255, 255, 0.199);
    padding: 10px;
    width: 90%;
    /* height: 30px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    font-weight: 100;
}

.button{
    background-color: rgba(157, 92, 243, 0.829);
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    /* border: none; */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.33);
}